/gitIgnore/
/vid/background.mp4
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/img/Thumbs.db
/360viewer/
/vid/youtube/01_LPALLNIGHT.mp4
/vid/youtube/02_NaturNerd.mp4
/vid/youtube/03_JQLiFiCE.mp4
/vid/youtube/04_jqlifice.mp4
