/gitIgnore/
/www/vid/background.mp4
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/www/img/Thumbs.db
/360viewer/
/www/vid/youtube/01_LPALLNIGHT.mp4
/www/vid/youtube/02_NaturNerd.mp4
/www/vid/youtube/03_JQLiFiCE.mp4
/www/vid/youtube/04_jqlifice.mp4
config.ini
