@font-face {
    font-family: cmdFont;
    src: url("/www/fonts/cmdFont.woff") format("woff");
}

a:link{
    color: #528CE0;
}
a:visited{
    color: #528CE0;
}
a:hover{
    color: #049DD9;
}


body{
    max-height: 100vh;
    margin: 0;
    background-color: black;
}

#backgroundVideoWrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backgroundVideo{
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 75%;

    position: absolute;
    top: 0;
    left: 0;
}

@keyframes dimTheLight{
    0% {opacity: 75%;}
    100% {opacity: 30%;}
}

@keyframes raiseTheLight{
    0% {opacity: 30%;}
    100% {opacity: 75%;}
}



#buttonsBarRightWrapper{
    max-width: 20%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

#buttonsBarRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}


#socials{
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.rightBarButton{
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.rightBarIMG{
    max-width: 100%;
    max-height: 100%;
    opacity: 70%;
}

.rightBarIMG:hover{
    opacity: 100%;
    animation-name: rightBarIMG;
    animation-duration: 0.5s;
}

@keyframes rightBarIMG {
    0% {opacity: 70%}
    100% {opacity: 100%}
}






#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    opacity: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*sliders*/
#sliderContainerContainerLeft{
    width: 20%;
    max-width: 20%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sliderContainerLeft{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sliderDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 0 15px 15px 0;
    height: 40px;
    width: 40px;
    background-color: #049DD9;
    overflow: hidden;
}

.sliderPreview{
    margin-top: 3px;
    margin-left: 1px;
    max-width: 34px;
    max-height: 34px;
}

.sliderText{
    display: none;
    font-family: sans-serif;
    font-size: calc(14px + (24 - 14) * ((100vw - 500px) / (2500 - 500)));
    color: transparent;
}

.sliderDiv:hover{
    cursor: pointer;
    animation-name: sliders;
    animation-direction: normal;
    animation-duration: 1s;
    width: 200px;
}

.sliderDivClicked{
    width: 80px;
}

@keyframes sliders{
    0% {width: 50px;}
    100% {width: 200px;}
}


.sliderDiv:hover .sliderPreview{
    animation-name: sliderPreview;
    animation-duration: 1s;
    opacity: 0;
}

@keyframes sliderPreview {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sliderDiv:hover .sliderTextContainer .sliderText{
    display: block;
    animation-name: sliderText;
    animation-duration: 1.5s;
    color: white;
}

@keyframes sliderText{
    0%{color: transparent;}
    50%{color: transparent;}
    100%{color:white;}
}

.sliderDiv div{
    align-self: center;
    justify-self: center;
}







#contentWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 100%;
    width: 65%;
}

#contentBox{
    border-radius: 5px;
    background-color: black;
    opacity: 0%;
    visibility: hidden;
    height: 75%;
    width: 95%;
}

#contentBoxHeader{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 25px;
    width: 100%;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contentBoxTitleContainer{
    align-self: center;
    height: 85%;
    max-height: 85%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: calc(350px + (800 - 350) * ((100vw - 300px) / (4000 - 300)));
    max-width: 95%;
}

#contentBoxTitleWrapper{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    height: 100%;
    max-height: 100%;
    align-self: center;
    background-color: white;
    width: 70%;
}

#contentBoxTitle{
    align-self: center;
    width: 100%;
    text-align: left;
    font-size: calc(5px + (15 - 5) * ((100vw - 300px) / (4000 - 300)));
}

#contentBoxTitle:focus{
    outline: none;
}

#contentBoxClose:hover{
    cursor: pointer;
}

@keyframes openContentBox {
    0% {visibility: hidden; opacity: 0%;}
    100% {visibility: visible; opacity: 100%;}
}

@keyframes closeContentBox {
    0% {visibility: visible; opacity: 100%;}
    100% {visibility: hidden; opacity: 0%;}
}

#contentBoxLoadingBar{
    height: 5px;
    width: 0%;
    visibility: hidden;
    background: linear-gradient(90deg, rgba(0,245,255,1) 0%, rgba(202,8,208,1) 50%, rgba(171,0,255,1) 100%);
}
@keyframes loadPage{
    0% {width:0%; visibility: visible;}
    25% {width:40%; visibility: visible;}
    50% {width:50%; visibility: visible;}
    75% {width: 65%; visibility: visible;}
    100% {width: 100%; visibility: visible;}
}

#contentBoxContent{
    width: 100%;
    max-width: 100%;
    height: calc(100% - 30px);
    max-height: calc(100% - 30px);
}

.contentBoxContentContainer{
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

#contentBoxWhoAmI{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
#contentBoxWhoAmIIMGWrapper{
    display: grid;
    place-items: center;
    max-height: 100%;
    max-width: 50%;
}
#contentBoxWhoAmIIMG{
    max-height: 100%;
    max-width: 100%;
    height: auto;
}
#contentBoxWhoAmITextWrapperWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contentBoxWhoAmITextWrapper{
    align-self: center;
    width: 98%;
    max-height: 100%;
    margin-right: 2%;
    overflow: auto;
}
.whoAmITitle{
    font-family: cmdFont;
    color: white;
    font-size: calc(30px + (56 - 30) * ((100vw - 300px) / (4000 - 300)));
}
.whoAmIText{
    font-family: sans-serif;
    color: white;
    font-size: calc(10px + (26 - 10) * ((100vw - 300px) / (4000 - 300)));
}

#contentBoxYouTube{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.contentBoxYouTubeRow{
    margin-left: 20px;
    margin-right: 20px;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.contentBoxYouTubeThumbContainer{
    width: calc(50% - 16px);
    margin: 0 8px 0 8px;
    height: calc(100% - 10px);
    position: relative;
    display: flex;
    justify-content: center;
}
.contentBoxYouTubeThumbContainer:hover{
    cursor: pointer;
}
.contentBoxYouTubeThumbContainer:hover .contentBoxYouTubeThumb{
    box-shadow: 0 0 20px lightseagreen;
}
.contentBoxYouTubePlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contentBoxYouTubeThumb{
    border: 2px lightseagreen solid;
    align-self: center;
    height: 95%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.contentBoxPlayVideo{
    height: 100%;
    width: 100%;
}


#contentBoxInteractiveShellWrapper{
    height: 100%;
    background-color: black;
    overflow-x: auto;
    overflow-y: hidden;
}

#contentBoxCredits{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.creditsText{
    font-family: serif;
    color: white;
    font-size: calc(15px + (26 - 15) * ((100vw - 300px) / (4000 - 300)));
}

#contentBox404{
    display:flex;
    align-content: center;
    justify-content: center;
}
.notFoundText{
    align-self: center;
    color: white;
    font-size: calc(15px + (26 - 15) * ((100vw - 300px) / (4000 - 300)));
}